* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 17, 36);
    gap:10px;
}

#container, #container_result {
    width: 350px;
    background-color:rgb(31, 31, 56);
    padding:30px 25px;
    color:white;
}

.campo_input, .grupo_botoes {
    margin-bottom:20px;
}

h2 {
    font-size:2rem;
    margin-bottom:30px;
    text-align: center;
}


label {
    display: block;
    margin-bottom:8px;
}

input {
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:4px;
}

.grupo_botoes {
    margin-top:40px;
    display: flex;
    gap:20px;
}

button {
    flex:auto;
    padding:18px;
    border:none;
    border-radius:4px;
    font-size:1rem;
    cursor: pointer;
    color:white;
}

#btn_calcular {
    background-color:tomato;
}

#btn_reset {
    background-color: rgb(79, 75, 75);
    transition:background-color .5s ease-in-out;
}

button#btn_calcular:hover{
    background-color: rgb(197, 81, 60);
}

#erro {
    background-color:tomato;
    padding:20px;
    border-radius:10px;
    display: none;
}

#container_result {
    width:auto;
}

#container_result h2, p{
    margin-bottom:20px;
    text-align: center;
}

p {
    font-size:1.2rem;
}

table > caption {
    margin:15px 0;
}

table {
    padding:10px;
    font-size:0.9rem;
}

td {
   border-top:1px solid rgb(186, 216, 227); 
   font-size:0.9rem;
   padding:5px;
   text-align: center;
}


#btn_voltar {
    background-color:tomato;
    width:35%;
    margin-top:40px;
    position:relative;
    left:30%;
}



@keyframes Popover {
    to {
        transform: scale(1.04);
    }
}